APP_NAME=tms-api
APP_ENV=dev
APP_PORT=8080

DB_HOST=postgres
DB_PORT=5432
DB_NAME=tms
DB_USER=tms
DB_PASSWORD=change_me

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=change_me_123456
MINIO_BUCKET=tms-dev
